# Environnement
FLASK_ENV=development  # development|staging|production

# Sécurité
SECRET_KEY=your-secret-key-here

# Base de données
DATABASE=/app/documents.db

# Dossier des uploads
UPLOAD_FOLDER=/app/static/uploads

# Port de l'application
APP_PORT=5000
